// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: url(/img/adminbg.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-inner {
    background-color: #fff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 1px 24px rgba(0,0,0,0.5);
}

h1 {
    color: #1C437C;
}

.btn-primary {
    background-color: #3D6AB3;
}

.btn-danger {
    background-color: #EE2431;
}

.btn-warningg {
    background-color: #F5D229;
}

.table-bordered {
    border-collapse: separate;
    border-spacing: 5px;
    border: 0;
}

.table-bordered td {
    background-color: #E1EAF7;
    border: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    vertical-align: middle;
}

.table-bordered td:last-child {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #203E74;
    font-weight: 700;
    position: relative;
    line-height: 1;
    transition: all 0.2s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:before {
    content: '';
    width: 1px;
    background-color: #203E74;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.navbar-light .navbar-nav .nav-link:hover:before {
    width: 100%;
}