.key-anim01,
.key-anim02,
.key-anim03,
.key-anim04,
.key-anim05,
.key-anim06,
.key-anim07,
.key-anim08,
.key-anim09,
.key-anim10,
.key-anim11,
.key-anim12 {
    stroke-dasharray: 10;
    stroke-dashoffset: -2000;
    animation: Drawpath 20s linear infinite;
}

@keyframes Drawpath {
    from {
        stroke-dashoffset: -2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    position: relative;
    border: 4px solid #009387;
    margin: 0 auto;
}

.ads {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: #000;    
}

.ads video {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.dragscroll {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
}

.wrapper {
    width: 1080px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    overflow: visible;
}

#wrapper-inner {
    width: 800px;
    height: 600px;
}

.map {
    margin-top: 100px;
}

.map-slide {
    width: 100%;
}

.map img {
    width: 800px;
    height: 450px;
    display: block;
    margin: 0 auto;
}

.map-path {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 800px;
    height: 450px;
}

.list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1150px;
    background-color: rgba(0,0,0,0.2);
    z-index: 100;
    background: #009387;
}

.list input {
    width: calc(100% - 100px);
    height: 70px;
    margin: 0 50px;
    line-height: 70px;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid #1574a0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 680px;
}

.list ul li {
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list ul li:last-child {
    border-bottom: 0;
}

.list ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(255,255,255,0.1);
    display: block;
    padding: 45px 50px;
    line-height: 1;
}

.list ul li a strong {
    display: block;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 37px;
}

.list ul li a span {
    display: inline-block;
    padding: 6px 18px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 25px;
    font-size: 22px;
    margin-bottom: 3px;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #1574a0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #1574a0;
}


.modal {
z-index: 999;
background: rgba(255,255,255,0.3);
padding: 10px;
padding-bottom: 5px;
}

.modal .close {
position: absolute;
top: 0;
right: 15px;
font-size: 30px;
}

.modal button {
width: 70px;
height: 70px;
font-size: 45px;
text-align: center;
line-height: 45px;
padding: 0;
margin-bottom: 5px;
background: rgba(255,255,255,0.5);
box-shadow: none;
border-radius: 15px;
font-weight: bold;
border: 1px solid #009387;
color: #00302c;
}

.flickity-prev-next-button:disabled {
    opacity: 0;
}