.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100vw;
    max-width: 177.78vh;
    height: 56.25vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
}

.col-4-f {
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
}

.col-8-f {
    -ms-flex: 0 0 71%;
    flex: 0 0 71%;
    max-width: 71%;
}



/* SIDEBAR */
.sidebar {
    background-color: rgb(78, 201, 78);
    height: 100vh;
}
.sidebar-header {
    height: 15vh;
    padding-top: 2vh;
}
.sidebar-header img {
    width: auto;
    height: auto;
    max-width: 30vw;
    max-height: 11vh;
    display: block;
    margin: 0 auto;
}
.sidebar-banner-slide {
    background-size: cover;
    background-position: 50% 50%;
    height: 85vh;
}
/* SIDEBAR */



/* BUTTONS BAR */
.buttons-bar {
    height: 12vh;
    padding-top: 3vh;
    padding-left: 4vh;
    padding-right: 4vh;
}
.buttons-bar .col-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.buttons-bar button {
    width: 100%;
    background: none;
    border: 0;
    border-left: 0.2vh solid #68D94C;
    border-top: 0.2vh solid #68D94C;
    border-bottom: 0.2vh solid #68D94C;
    font-size: 2.5vh;
    box-shadow: none;
    height: 9vh;
    position: relative;
}
.buttons-bar .col-3:last-child button {
    border-right: 0.2vh solid #68D94C;
}
.buttons-bar button:focus {
    background-color: rgb(226, 226, 226);
    outline: none;
}
.buttons-bar button img {
    width: auto;
    height: auto;
    max-width: 6vh;
    height: 6vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* BUTTONS BAR */



/* SEARCH PANEL */
.search_panel {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 85vh;
    top: 15vh;
    margin-top: 0;
    background: #fff;
    padding: 1.5vh;
    margin-left: -29vw;
}
.input {
    width: 100%;
    padding: 2vh 2vh;
    font-size: 2.5vh;
    border: 0.2vh solid #A1A1A1;
}
#myUL {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 50vh;
    overflow-y: auto;
}
#myUL li {
    display: block;
    background-color: #fff;
    margin-bottom: 1vh;
}
#myUL li a {
    display: block;
    color: #222;
    font-size: 2vh;
    font-weight: 700;
    border: 0.25vh solid #96dbfc;
    padding: 1vh 2vh;
}
#myUL {
    height: 45vh;
}
#myUL li a {
    font-size: 1.5vh;
}
#myUL {
    margin-right: -1vh;
    margin-left: -1vh;
}
#myUL .col-3 {
    padding-right: 1vh;
    padding-left: 1vh;
}
.rl_st_item {
    padding: 3vh;
    border: 0.2vh solid #a1a1a1;
    margin-top: 2vh;
}
.rl_st_item_image {
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/* SEARCH PANEL */



/* CATEGORIES PANEL */
.category_panel {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 85vh;
    top: 15vh;
    margin-top: 0;
    background: #fff;
    padding: 1.5vh;
    margin-left: -29vw;
}
.category_item {
    height: 15vh;
    padding: 2vh;
    margin: 2vh;
    border: 0.1vh solid #888;
}
/* CATEGORIES PANEL */



/* ROUTES & MAP */
.key-anim01,
.key-anim02,
.key-anim03,
.key-anim04,
.key-anim05,
.key-anim06,
.key-anim07,
.key-anim08,
.key-anim09,
.key-anim10,
.key-anim11,
.key-anim12 {
    stroke-dasharray: 10;
    stroke-dashoffset: -2000;
    animation: Drawpath 20s linear infinite;
}
@keyframes Drawpath {
    from {
        stroke-dashoffset: -2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
.wrapperm {
    width: 800px;
    height: 450px;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    background-color: #fff;
}
#wrapper-inner {
    width: 800px;
    height: 450px;
}
.map {
    margin-top: -4vh;
}
.map-slide {
    width: 100%;
}
.map img {
    width: 800px;
    height: 450px;
    display: block;
    margin: 0 auto;
}
.map-path {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 800px;
    height: 450px;
}
.scheme_images {
    position: absolute;
    top: 0;
    left: 0;
}
#map {
    transform: scale(1.5);
    transform-origin: 0 0;
    margin-top: 0;
    margin-bottom: 0;
}
.map-marker {
    position: absolute;
    z-index:10;
    width: auto;
    height: auto;
    min-width: 25px;
    min-height: 25px;
    z-index: 5;
}
.map-marker span {
    display: block;
    height: 100%;
    /*background-color: rgba(255, 255, 0, 0.5);*/
}
.prevnextbutton {
    position: absolute;
    bottom: -16vh;
    z-index: 1;
}
.prevnextbutton {
    background-color: rgb(148, 148, 148);
    color: #fff;
    font-size: 1.75vh;
    padding: 1vh 2vh;
    display: block;
    margin: 0 auto;
    width: 20vw;
    left: 0;
    right: 0;
    border: 0;
}
.prevnextbutton:focus {
    outline: none;
}
.floor_buttons {
    position: absolute;
    right: 4vh;
    top: 20vh;
    z-index: 5;
}
.floor_buttons button {
    display: block;
    width: 8vh;
    height: 8vh;
    border: 0.2vh solid #68D94C;
    background: none;
    font-size: 3vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    font-weight: bold;
    color: #68D94C;
}
.floor_buttons button:focus {
    outline: none;
    background-color: #ccc;
    color: #fff;
}
/* ROUTES & MAP */



/* ROUTE_ABOUT */
.route_about span {
    display:block;
    width: 100%;
}
.route_about {
    color: #333;
    position: absolute;
    bottom: -32vh;
    border: 0.1vh solid #888;
    padding: 2vh;
    left: 4vh;
    right: 4vh;
    height: 12vh;
}
.route_about img {
    width: auto;
    height: auto;
    max-width: 30vw;
    max-height: 8vh;
    margin-right: 5vh;
}
.route_about i {
    font-style: normal;
    font-size: 3vh;
}
/* ROUTE_ABOUT */



/* KEYBOARD */
.hg-theme-default .hg-button,
.hg-theme-default .hg-button.hg-standardBtn {
    height: 5vh !important;
    font-size: 3vh !important;
}
/* KEYBOARD */