.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100vw;
    max-width: 177.78vh;
    height: 56.25vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
}

.sidebar {
    background-color: rgb(78, 201, 78);
    height: 100vh;
}

.col-4-f {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.col-8-f {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.sidebar-header {
    height: 12vh;
}

.sidebar-banner-slide {
    background-size: cover;
    background-position: 50% 50%;
    height: 88vh;
}

/* BUTTONS BAR */

.buttons-bar {
    background-color: gray;
    height: 20vh;
}

/* BUTTONS BAR */

/* MAP */

.map {
    width: 800px;
    height: 450px;
    zoom: 1.5;
    margin: 0 auto;
}

.map img {
    width: 100%;
}

/* MAP */