html {
    animation: html 1s linear;
}
@keyframes html {
    0% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 1 }
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100vw;
    max-width: 177.78vh;
    height: 56.25vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
}

.col-4-f {
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
    max-width: 19%;
}

.col-8-f {
    -ms-flex: 0 0 81%;
    flex: 0 0 81%;
    max-width: 81%;
}



/* SIDEBAR */
.sidebar {
    background-color: rgb(78, 201, 78);
    background-color: transparent;
    height: 100vh;
}
.sidebar-header {
    height: 15vh;
    padding-top: 2vh;
}
.sidebar-header img {
    width: auto;
    height: auto;
    max-width: 30vw;
    max-height: 10vh;
    display: block;
    margin: 0 auto;
}
.sidebar-banner-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 56vh;
}
/* SIDEBAR */



/* BUTTONS BAR */
.buttons-bar {
    height: 12vh;
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}
.buttons-bar .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.buttons-bar button {
    width: 100%;
    background: none;
    border: 0;
    border-left: 0.2vh solid #68D94C;
    border-top: 0.2vh solid #68D94C;
    border-bottom: 0.2vh solid #68D94C;
    font-size: 2.5vh;
    box-shadow: none;
    height: 9vh;
    position: relative;
}
.buttons-bar .col-3:last-child button {
    border-right: 0.2vh solid #68D94C;
}
.buttons-bar button:focus {
    background-color: rgb(226, 226, 226);
    outline: none;
}
.buttons-bar span {
    text-transform: uppercase;
    font-size: 2vh;
    color: #68D94C;
}
.buttons-bar button img {
    width: auto;
    height: auto;
    max-width: 5vh;
    height: 5vh;
    margin-right: 1vh;
    display: inline-block;
    vertical-align: middle;
}
.buttons-bar span i {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    line-height: 1.1;
}
.buttons-bar-bottom {
    margin-top: 6vh;
    margin-left: -19vw;
}
.buttons-bar-bottom button {
    height: 8vh;
}
.buttons-bar-bottom button img {
    height: 5vh;
    max-width: 5vh;
}
.buttons-bar-bottom .col-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
/* BUTTONS BAR */



/* SEARCH PANEL */
.search_panel {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 87vh;
    top: 11.5vh;
    margin-top: 0;
    background: #fff;
    padding: 1.5vh;
    margin-left: -19vw;
}
.input {
    width: 100%;
    padding: 2vh 2vh;
    font-size: 2.5vh;
    border: 0.2vh solid #A1A1A1;
}
#myUL_wrapper {
    height: 77vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 4vh;
}
#myUL {
    margin-right: -1vh;
    margin-left: -1vh;
}
#myUL .col-2 {
    padding-right: 1vh;
    padding-left: 1vh;
}
.rl_st_item {
    padding: 3vh;
    background: #f5f5f5;
    margin-top: 2vh;
    text-align: center;
    height: 17vh;
    position: relative;
}
.rl_st_item_image {
    height: 9vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*animation: rl_st_item_image_anim 0.25s linear;*/
}
@keyframes rl_st_item_image_anim {
    0% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}
/* SEARCH PANEL */



/* CATEGORIES PANEL */
.category_panel {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 87vh;
    top: 11.5vh;
    margin-top: 0;
    background: #fff;
    padding: 1.5vh;
    margin-left: -19vw;
    
}
.category_panel_inner {
    overflow-y: auto;
}
.category_panel_inner .col-3 {
    padding-right: 1vh;
    padding-left: 1vh;
}
.category_item {
    height: 17vh;
    margin-bottom: 2vh;
    position: relative;
}
.category_item_image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
.category_item p {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 1vh;
    margin: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.back_button {
    border: 1px solid #68D94C;
    padding: 1vh 3vh;
    font-size: 2vh;
    color: #68D94C;
    display: inline-block;
    vertical-align: middle;
}
.cat_header {
    display: inline-block;
    vertical-align: middle;
    font-size: 3vh;
    line-height: 1;
    font-weight: 700;
    margin: 0;
    margin-left: 2vh;
    text-transform: uppercase;
}
/* CATEGORIES PANEL */



/* TRANSPORT PANEL */
.transport_panel {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 87vh;
    top: 11.5vh;
    margin-top: 0;
    background: #fff;
    padding: 1.5vh;
    margin-left: -19vw;
    overflow-y: auto;
}
/* TRANSPORT PANEL */



/* SPECIAL PANEL */
.special_panel {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 85vh;
    top: 15vh;
    margin-top: 0;
    background: #fff;
    padding: 1.5vh;
    margin-left: -19vw;
}
#myUL .col-4 {
    padding-right: 1vh;
    padding-left: 1vh;
}

#myUL .col-4 .rl_st_item_image {
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.special_panel .rl_st_item {
    height: 28vh;
}
/* SPECIAL PANEL */



/* ROUTES & MAP */
.key-anim01,
.key-anim02,
.key-anim03,
.key-anim04,
.key-anim05,
.key-anim06,
.key-anim07,
.key-anim08,
.key-anim09,
.key-anim10,
.key-anim11,
.key-anim12 {
    stroke-dasharray: 6;
    stroke-dashoffset: -2000;
    animation: Drawpath 50s linear infinite;
}
@keyframes Drawpath {
    from {
        stroke-dashoffset: -2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
.wrapperm {
    width: 800px;
    height: 450px;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    background-color: #fff;
}
#wrapper-inner {
    width: 800px;
    height: 450px;
}
.map {
    margin-top: -4vh;
}
.map-slide {
    width: 100%;
}
.map img {
    width: 800px;
    height: 450px;
    display: block;
    margin: 0 auto;
}
.map-path {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 800px;
    height: 450px;
}
.map-path circle {
    r: 1;
}
.map-path circle:first-of-type,
.map-path circle:last-of-type {
    r: 3;
}
.scheme_images {
    position: absolute;
    top: 0;
    left: 0;
}
#map {
    transform: scale(1.81);
    transform-origin: 0 0;
    margin-top: -2vh;
    margin-bottom: 0;
    margin-left: -1vh;
}
.map-marker {
    position: absolute;
    z-index:10;
    width: auto;
    height: auto;
    min-width: 15px;
    min-height: 15px;
    z-index: 5;
}
.map-marker span {
    display: block;
    height: 100%;
    /*background-color: rgba(255, 255, 0, 0.5);*/
}
.map-marker img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 0.2vh solid transparent;
    border-radius: 0.5vh;
    animation: marker_img_anim 1.5s linear infinite;
}
@keyframes marker_img_anim {
    0% { border-color: transparent; }
    50% { border-color: red; }
    100% { border-color: transparent; }
}
.prevnextbutton {
    position: absolute;
    bottom: 13vh;
    z-index: 1;
}
.prevnextbutton {
    background-color: rgb(148, 148, 148);
    color: #fff;
    font-size: 1.75vh;
    padding: 1vh 2vh;
    display: block;
    margin: 0 auto;
    width: 20vw;
    left: 50%;
    right: 0;
    border: 0;
    transform: translateX(-50%);
    margin-left: 10vw;
}
.prevnextbutton:focus {
    outline: none;
}
.floor_buttons {
    position: absolute;
    right: 2vh;
    top: 13vh;
    z-index: 5;
    background-color: #fff;
    padding: 0.5vh;
    border-radius: 0.5vh;
}
.floor_buttons button {
    display: block;
    width: 7vh;
    height: 7vh;
    border: 0.2vh solid #68D94C;
    background: none;
    font-size: 3vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    font-weight: bold;
    color: #68D94C;
}
.floor_buttons button:last-of-type {
    margin-bottom: 0;
}
.floor_buttons button:focus {
    outline: none;
    background-color: #ccc;
    color: #fff;
}
/* ROUTES & MAP */



/* STORE_ROUTE_ABOUT */
.store_route_about {
    position: absolute;
    left: 0;
    top: 15vh;
    background-color: rgb(245, 245, 245);
    width: calc(19% + 2px);
    height: auto;
    padding: 2vh;
    padding-top: 4vh;
}
.store_route_about img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 30vh;
    margin-bottom: 2vh;
}
.store_route_about h3 {
    font-size: 2.5vh;
    margin-bottom: 3vh;
}
.store_route_about h3 span {
    font-size: 1.8vh;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
.store_route_about ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.store_route_about ul li {
    display: inline-block;
    font-size: 1.3vh;
    padding: 0.5vh 2vh;
    border-radius: 5vh;
    border: 0.2vh solid gray;
    line-height: 1;
    margin-bottom: 1vh;
    margin-right: 1vh;
}
/* STORE_ROUTE_ABOUT */



/* KEYBOARD */
.hg-theme-default .hg-button,
.hg-theme-default .hg-button.hg-standardBtn {
    height: 5vh !important;
    font-size: 3vh !important;
}
.hg-theme-default {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.simple-keyboard {
    animation: keyboard_anim 0.5s linear;
}
@keyframes keyboard_anim {
    from {
        bottom: -50vh;
    }
    to {
        bottom: 0;
    }
}
/* KEYBOARD */